<!DOCTYPE html>
<html lang="pt">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134144408-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-134144408-5');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ language.description }}" />
    {% include "templates-universal/href-lang.html" %}
    <title>{{ language.title }}</title>
    <meta name="google-site-verification" content="nTDaGOpBqvrdGs-NNkFjip0m_anvygpAG0SbucpJAl0" />
    {% include "templates-universal/css.html" %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container bg-light" id="quantidade-caracteres">
        <header>
            <div class="row">
                <div class="col-sm-6">
                    <h1>Convertexto.com</h1>
                </div>
                <div class="col">
                    {% include "templates-universal/language-buttons.html" %}
                </div>
                <div class="col">
                    {% include "pt-br/template/btn-ferramentas.html" %}
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-sm-6">
                <h3>Seu Texto</h3>
                <textarea class="form-control" v-model="text" name="" id="" cols="30" rows="10"></textarea>
                <div class="row mt-2">
                    <div class="col-sm-4">
                        <p><strong>Caracteres</strong> : [[ qtdCharacters ]]</p>
                    </div>
                    <div class="col-sm-4">
                        <p><strong>Palavras</strong> : [[ qtdWords ]] </p>
                    </div>
                    <div class="col-sm-4">
                        <p><strong>Linhas</strong> : [[ qtdLines ]]</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-2">
                <h3>Resultado</h3>
                <textarea class="form-control" id="result" cols="30" rows="10" v-html="textChanged"></textarea>
                <!-- <div class="editable" id="editable" :class="font" contenteditable="true">
                    </div> -->
            </div>
        </div>

        <button class="mr-2 mb-2 btn btn-primary" @click="reverseText">Reverso</button>

        <button class="mr-2 mb-2 btn  btn-primary" @click="toUpper">MAIÚSCULAS</button>
        <button class="mr-2 mb-2 btn  btn-primary" @click="toLower">minúsculas</button>
        <button class="mr-2 mb-2 btn  btn-primary" @click="capitalized">Texto Capitalizado</button>
        <button class="mr-2 mb-2 btn  btn-primary" @click="alterned">aLtErNaDo</button>
        <!-- <button class="mr-2 mb-2 btn  btn-primary" @click="title">Título</button> -->
        <button class="mr-2 mb-2 btn  btn-primary" @click="invert">Inverter minúsculo/MAIÚSCULO</button>
        <button class="mr-2 mb-2 btn  btn-primary" @click="upsideDown"> De cabeça pra baixo</button>
        <!-- <button @click="negrito"><b>Negrito</b></button>
            <button class="mr-2 mb-2 btn  btn-primary" @click="italic"><i>Itálico</i></button>
            <button class="mr-2 mb-2 btn  btn-primary" @click="underline"><u>Sublinhado</u></button> -->
        <button class="mr-2 mb-2 btn  btn-success" data-clipboard-target="#result" id="copiar">Copiar</button>
        <button class="mr-2 mb-2 btn  btn-danger" @click="apagar">Apagar</button>

        <hr>
        <p><strong>Reverso</strong></p>
        <p>Reverte um texto. Por exemplo: ABCDE vira EDCBA</p>
        <hr>
        <p><strong>MAIÚSCULAS</strong></p>
        <p>Deixa todo um texto em maiúsculo. Por exemplo: abcde vira ABCDE</p>
        <hr>
        <p><strong>minúsculas</strong></p>
        <p>Deixa todo um texto em minúsculo. Por exemplo: ABCDE vira abcde</p>
        <hr>
        <p><strong>Texto Capitalizado</strong></p>
        <p>Deixa toda palavra do texto com a primeira letra maiúscula. Por exemplo, o texto 'adoro o site
            convertexto.com'
            vira 'Adoro O Site Convertexto.com'</p>
        <hr>
        <p><strong>TeXtO aLtErNaDo</strong></p>
        <p>Alterna entre letras maiúsculas e minúsculas. Por exemplo, o texto 'adoro o site convertexto.com' vira 'aDoRo
            o
            sItE CoNvErTeXtO.CoM'</p>
        <hr>
        <p><strong>Inverter minúsculo/MAIÚSCULO</strong></p>
        <p>Inverte entre minúsculo e maiúsculo. Por exemplo: ABcdE vira abCDe</p>
        <hr>
        <p><strong>De cabeça pra baixo</strong></p>
        <p>Deixa o texto de ponta cabeça. Por exemplo, o texto 'adoro o site convertexto.com' vira 'ɐpoɹo o sᴉʇǝ
            ɔouʌǝɹʇǝxʇo˙ɔoɯ'</p>
        <hr>
    </div>
    <script src="js/clipboard.min.js"></script>
    <script src="js/upsidedown.js"></script>
    <script>
        new ClipboardJS('#copiar');
        let vue = new Vue({
            el: '#quantidade-caracteres',
            data: {
                text: '',
                textChanged: '',
                font: {
                    bold: false,
                    italic: false,
                    underline: false
                }
            },
            methods: {
                reverseText: function () {
                    this.textChanged = this.text.split('').reverse().join('')
                },
                toUpper: function () {
                    this.textChanged = this.text.toUpperCase()
                },
                toLower: function () {
                    this.textChanged = this.text.toLowerCase()
                },
                capitalized: function () {
                    this.textChanged = this.text.split(' ').join(', ').split('\n').join(', ').split(', ')
                        .map(el => el.charAt(0).toUpperCase() + el
                            .toLowerCase().slice(1))
                        .join(' ')
                },
                alterned: function () {
                    this.textChanged = this.text.split('').map((el, idx) => {
                        return idx % 2 == 0 ? el.toLowerCase() : el.toUpperCase()
                    }).join('')
                },
                title: function () {
                    this.textChanged = this.text.split(' ').map(el => {
                        if (el.length == 1) {
                            return el.toLowerCase()
                        } else {
                            return el.charAt(0).toUpperCase() + el.slice(1)
                        }
                    }).join(' ')
                },
                invert: function () {
                    this.textChanged = this.text.split('').map(el => {
                        if (el === el.toUpperCase()) {
                            return el.toLowerCase()
                        } else {
                            return el.toUpperCase()
                        }
                    }).join('')
                },
                apagar: function () {
                    this.text = ''
                    this.textChanged = ''
                },
                upsideDown: function () {
                    this.textChanged = this.text.split('').map(el => {
                        var upsideDownCharacter = characters.find(element => Object.keys(element)[
                                0] ===
                            el);
                        if (upsideDownCharacter) {
                            return upsideDownCharacter[Object.keys(upsideDownCharacter)]
                        } else {
                            return el
                        }
                    }).join('');
                },
                negrito: function () {
                    this.textChanged = this.text
                    this.font.bold = true
                },
                italic: function () {
                    this.textChanged = this.text
                    this.font.italic = true
                },
                underline: function () {
                    this.textChanged = this.text
                    this.font.underline = true
                }
            },
            computed: {
                qtdCharacters: function () {
                    return this.text.split('').length
                },
                qtdWords: function () {
                    let wordsArr = this.text.split(' ').join(', ').split('\n').join(', ').split(', ')
                    let wordArrCleaned = wordsArr.filter((el, idx) => {
                        if (el != ' ' && el !== '' && el.length >= 1) return el
                    })
                    return wordArrCleaned.length
                },
                qtdLines: function () {
                    var count = (this.text.match(/\n/g) || []).length
                    return count
                }
            },
            delimiters: ['[[', ']]']
        });
    </script>
  
  {% include "templates-universal/js.html" %}
</body>

</html>