<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="{{ language.description }}" />
    <!-- <link rel="canonical" href="https://convertexto.com" /> -->
    {% include "templates-universal/href-lang.html" %}
    <title>{{ language.title }}</title>
    
    {% include "templates-universal/css.html" %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container bg-light" id="quantidade-caracteres">
        <header>
            <div class="row">
                <div class="col-sm-6">
                    <h1>Convertexto.com</h1>
                </div>
                <div class="col-sm-6">
                    {% include "templates-universal/language-buttons.html" %}
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-sm-6">
                <h3>Ton Texte</h3>
                <textarea class="form-control" v-model="text" name="" id="" cols="30" rows="10"></textarea>
                <div class="row mt-2">
                    <div class="col-sm-4">
                        <p><strong>Caractères</strong> : [[ qtdCharacters ]]</p>
                    </div>
                    <div class="col-sm-4">
                        <p><strong>Mots</strong> : [[ qtdWords ]] </p>
                    </div>
                    <div class="col-sm-4">
                        <p><strong>Lignes</strong> : [[ qtdLines ]]</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-2">
                <h3>Résultat</h3>
                <textarea class="form-control" id="result" cols="30" rows="10" v-html="textChanged"></textarea>
                <!-- <div class="editable" id="editable" :class="font" contenteditable="true">
                    </div> -->
            </div>
        </div>

        <button class="mr-2 mb-2 btn btn-primary" @click="reverseText">Inverser</button>

        <button class="mr-2 mb-2 btn  btn-primary" @click="toUpper">MAJUSCULES</button>
        <button class="mr-2 mb-2 btn  btn-primary" @click="toLower">minuscule</button>
        <button class="mr-2 mb-2 btn  btn-primary" @click="capitalized">Texte En Majuscule</button>
        <button class="mr-2 mb-2 btn  btn-primary" @click="alterned">aLtErNaDo</button>
        <!-- <button class="mr-2 mb-2 btn  btn-primary" @click="title">Título</button> -->
        <button class="mr-2 mb-2 btn  btn-primary" @click="invert">Inverser les minuscules / MAJUSCULES</button>
        <button class="mr-2 mb-2 btn  btn-primary" @click="upsideDown"> À l'envers</button>
        <!-- <button @click="negrito"><b>Negrito</b></button>
            <button class="mr-2 mb-2 btn  btn-primary" @click="italic"><i>Itálico</i></button>
            <button class="mr-2 mb-2 btn  btn-primary" @click="underline"><u>Sublinhado</u></button> -->
        <button class="mr-2 mb-2 btn  btn-success" data-clipboard-target="#result" id="copiar">Copie</button>
        <button class="mr-2 mb-2 btn  btn-danger" @click="apagar">Supprimer</button>

        <hr>
        <p><strong>Inverser</strong></p>
        <p>
            Inverse un texte. Par exemple: ABCDE devient EDCBA</p>
        <hr>
        <p><strong>MAJUSCULES</strong></p>
        <p>Mettez un texte entier en majuscule. Par exemple: abcde devient ABCDE</p>
        <hr>
        <p><strong>minuscule</strong></p>
        <p>Laisse tout le texte en minuscules. Par exemple: ABCDE devient abcde</p>
        <hr>
        <p><strong>Texte En Majuscule</strong></p>
        <p>Mettez chaque mot du texte en majuscule par la première lettre. Par exemple, le texte «J'aime le site
            convertexto.com »
            devient «J'aime Le Site Convertexto.com»</p>
        <hr>
        <p><strong>aLtErNaDo</strong></p>
        <p>Basculez entre les majuscules et les minuscules. Par exemple, le texte «J'aime le site convertexto.com» devient «j'aImE Le sItE CoNvErTeXtO.CoM »</p>
        <hr>
        <p><strong>Inverser les minuscules / MAJUSCULES</strong></p>
        <p>
            Inversez entre les minuscules et les majuscules. Par exemple: ABcdE devient abCDe</p>
        <hr>
        <p><strong>À l'envers</strong></p>
        <p>
            Laissez le texte à l'envers. Par exemple, le texte «J'aime le site convertexto.com» devient «ſ'ɐᴉɯǝ lǝ sᴉʇǝ ɔouʌǝɹʇǝxʇo˙ɔoɯ »</p>
        <hr>
    </div>
    <script src="/clipboard.min.js"></script>
    <script src="/upsidedown.js"></script>
    <script>
        new ClipboardJS('#copiar');
        let vue = new Vue({
            el: '#quantidade-caracteres',
            data: {
                text: '',
                textChanged: '',
                font: {
                    bold: false,
                    italic: false,
                    underline: false
                }
            },
            methods: {
                reverseText: function () {
                    this.textChanged = this.text.split('').reverse().join('')
                },
                toUpper: function () {
                    this.textChanged = this.text.toUpperCase()
                },
                toLower: function () {
                    this.textChanged = this.text.toLowerCase()
                },
                capitalized: function () {
                    this.textChanged = this.text.split(' ').join(', ').split('\n').join(', ').split(', ')
                        .map(el => el.charAt(0).toUpperCase() + el
                            .toLowerCase().slice(1))
                        .join(' ')
                },
                alterned: function () {
                    this.textChanged = this.text.split('').map((el, idx) => {
                        return idx % 2 == 0 ? el.toLowerCase() : el.toUpperCase()
                    }).join('')
                },
                title: function () {
                    this.textChanged = this.text.split(' ').map(el => {
                        if (el.length == 1) {
                            return el.toLowerCase()
                        } else {
                            return el.charAt(0).toUpperCase() + el.slice(1)
                        }
                    }).join(' ')
                },
                invert: function () {
                    this.textChanged = this.text.split('').map(el => {
                        if (el === el.toUpperCase()) {
                            return el.toLowerCase()
                        } else {
                            return el.toUpperCase()
                        }
                    }).join('')
                },
                apagar: function () {
                    this.text = ''
                    this.textChanged = ''
                },
                upsideDown: function () {
                    this.textChanged = this.text.split('').map(el => {
                        var upsideDownCharacter = characters.find(element => Object.keys(element)[
                                0] ===
                            el);
                        if (upsideDownCharacter) {
                            return upsideDownCharacter[Object.keys(upsideDownCharacter)]
                        } else {
                            return el
                        }
                    }).join('');
                },
                negrito: function () {
                    this.textChanged = this.text
                    this.font.bold = true
                },
                italic: function () {
                    this.textChanged = this.text
                    this.font.italic = true
                },
                underline: function () {
                    this.textChanged = this.text
                    this.font.underline = true
                }
            },
            computed: {
                qtdCharacters: function () {
                    return this.text.split('').length
                },
                qtdWords: function () {
                    let wordsArr = this.text.split(' ').join(', ').split('\n').join(', ').split(', ')
                    let wordArrCleaned = wordsArr.filter((el, idx) => {
                        if (el != ' ' && el !== '' && el.length >= 1) return el
                    })
                    return wordArrCleaned.length
                },
                qtdLines: function () {
                    var count = (this.text.match(/\n/g) || []).length
                    return count
                }
            },
            delimiters: ['[[', ']]']
        });
    </script>
    {% include "templates-universal/js.html" %}  
</body>

</html>