<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-language"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="//{{ projectURL }}/en" class="dropdown-item btn btn-secondary">English</a>
        <a href="//{{ projectURL }}" class="dropdown-item btn btn-secondary">Português</a>
        <a href="//{{ projectURL }}/es" class="dropdown-item btn btn-secondary">Español</a>
        <a href="//{{ projectURL }}/it" class="dropdown-item btn btn-secondary">Italiano</a>
        <a href="//{{ projectURL }}/fr" class="dropdown-item btn btn-secondary">Français</a>
    </div>
</div>