<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-language fa-1x"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="https://convertexto.com/en" class="dropdown-item btn btn-secondary">English</a>
        <a href="https://convertexto.com" class="dropdown-item btn btn-secondary">Português</a>
        <a href="https://convertexto.com/es" class="dropdown-item btn btn-secondary">Español</a>
        <a href="https://convertexto.com/it" class="dropdown-item btn btn-secondary">Italiano</a>
        <a href="https://convertexto.com/fr" class="dropdown-item btn btn-secondary">Français</a>
    </div>
</div>